@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@layer base {
  :root {
    --background: #ffffff; /* Tailwind: bg-white */
    --foreground: #0a0a0a; /* Tailwind: text-gray-900 */

    --muted: #f3f4f6; /* Tailwind: bg-gray-100 */
    --muted-foreground: #737373; /* Tailwind: text-gray-600 */

    --popover: #ffffff; /* Tailwind: bg-white */
    --popover-foreground: #0a0a0a; /* Tailwind: text-gray-900 */

    --card: #ffffff; /* Tailwind: bg-white */
    --card-foreground: #0a0a0a; /* Tailwind: text-gray-900 */

    --border: #d1d5db; /* Tailwind: border-gray-300 */
    --input: #d1d5db; /* Tailwind: border-gray-300 */

    --primary: #1d4ed8; /* Tailwind: bg-blue-700 */
    --primary-foreground: #ffffff; /* Tailwind: text-white */

    --secondary: #f3f4f6; /* Tailwind: bg-gray-100 */
    --secondary-foreground: #0a0a0a; /* Tailwind: text-gray-900 */

    --accent: #e11d48; /* Tailwind: bg-rose-500 */
    --accent-foreground: #ffffff; /* Tailwind: text-white */

    --destructive: #ef4444; /* Tailwind: bg-red-500 */
    --destructive-foreground: #ffffff; /* Tailwind: text-white */

    --ring: #d1b173; /* Custom Color */
    --radius: 0.5rem; /* Standard Tailwind Border Radius */
  }

  .dark {
    --background: #00263e; /* Dunkelblau als Hintergrund (#00263e) */
    --foreground: #f3f4f6; /* Tailwind: text-gray-100 */

    --muted: #1e293b; /* Tailwind: bg-gray-800 */
    --muted-foreground: #cbd5e1; /* Tailwind: text-gray-400 */

    --popover: #334155; /* Tailwind: bg-gray-700 */
    --popover-foreground: #f3f4f6; /* Tailwind: text-gray-100 */

    --card: #475569; /* Tailwind: bg-gray-600 */
    --card-foreground: #f3f4f6; /* Tailwind: text-gray-100 */

    --border: #64748b; /* Tailwind: border-gray-500 */
    --input: #64748b; /* Tailwind: border-gray-500 */

    --primary: #3b82f6; /* Tailwind: bg-blue-600 */
    --primary-foreground: #ffffff; /* Tailwind: text-white */

    --secondary: #1e293b; /* Tailwind: bg-gray-800 */
    --secondary-foreground: #f3f4f6; /* Tailwind: text-gray-100 */

    --accent: #fca311; /* Custom Color */
    --accent-foreground: #ffffff; /* Tailwind: text-white */

    --destructive: #b91c1c; /* Tailwind: bg-red-700 */
    --destructive-foreground: #ffffff; /* Tailwind: text-white */

    --ring: #d1b173; /* Custom Color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
